.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 6px;
}

.formLabel {
  display: flex;
  flex-direction: column;
}

.formLabel:not(:first-child) {
  margin-top: 15px;
}

.formBtn {
  align-self: center;
  background-color: rgba(95, 94, 94, 0.647);
  border-radius: 6px;
  border: 1px solid white;
  min-width: 150px;
  margin-top: 10px;
}

.formField {
  padding: 5px 10px;
}

.errorMessage {
  color: red;
  font-size: 12px;
}
